In [1]:
import os
import pandas as pd
import re
import numpy as np
import datetime

In [2]:
itemList = ["塞德思","灵的融","希纳露","百热朗","健眠计划","S+","琵力消","VL"]
def tag_add(itemName,itemLists):
    for item in itemLists:
        if item in itemName:
            return item
        else:
            continue
    return itemName

In [3]:
bilibili_list = [730603253025,730901991727,730903103301]
def bilibili_taoke_divide(sku_id,bilibili_list):
    if sku_id in bilibili_list:
        return "B站"
    else:
        return "taoke"

In [4]:
csv_list=os.listdir(r"D:\盐野义\月报\2024年6月\淘客数据")
taoke_data = pd.read_csv("D:/盐野义/月报/2024年6月/淘客数据/"+csv_list[0])

for csvs in csv_list[1:]:
    taoke_data_sub = pd.read_csv("D:/盐野义/月报/2024年6月/淘客数据/"+csvs)
    taoke_data = pd.concat([taoke_data,taoke_data_sub],axis=0,ignore_index=True)
taoke_data["商品别名"] = taoke_data["商品名称"].astype(str).apply(lambda x:tag_add(x,itemLists=itemList))
taoke_data["渠道"] = taoke_data["商品ID"].apply(lambda x:bilibili_taoke_divide(x,bilibili_list=bilibili_list))

In [5]:
taoke_data.pivot_table(values=["付款支出费用","付款金额"],index=["渠道","商品别名"],aggfunc=[np.sum])

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4136\2553800634.py:1: FutureWarning: The provided callable <function sum at 0x0000020DB9B96D40> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  taoke_data.pivot_table(values=["付款支出费用","付款金额"],index=["渠道","商品别名"],aggfunc=[np.sum])

                    sum
                 付款支出费用       付款金额
渠道    商品别名
B站    希纳露      17016.15  708699.43
      灵的融      36929.26  237735.46
taoke 5月有价优惠券      2.02     101.00
      S+          21.46     787.25
      VL           5.07     281.46
      nan          0.00       0.00
      健眠计划        11.83     394.30
      塞德思         16.25     576.07
      希纳露        170.26    6311.13
      灵的融         79.37    2896.95
      琵力消          2.97      98.87
      百热朗         20.37     679.20