In [1]:
import pandas as pd
from sqlalchemy import create_engine,text
from datetime import datetime, timedelta

In [2]:
excel_path = "D:/推广/盐野义/日报/日报数据源/超级直播报表.xlsx"  # 替换为你的 Excel 路径
df = pd.read_excel(excel_path)

In [3]:
df["日期"] = pd.to_datetime(df["日期"])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   日期         0 non-null      datetime64[ns]
 1   场景ID       0 non-null      object
 2   场景名字       0 non-null      object
 3   原二级场景ID    0 non-null      object
 4   原二级场景名字    0 non-null      object
 5   计划ID       0 non-null      object
 6   计划名字       0 non-null      object
 7   人群名字       0 non-null      object
 8   花费         0 non-null      object
 9   观看次数       0 non-null      object
 10  观看成本       0 non-null      object
 11  展现量        0 non-null      object
 12  观看率        0 non-null      object
 13  千次展现花费     0 non-null      object
 14  总成交笔数      0 non-null      object
 15  总成交金额      0 non-null      object
 16  直接成交金额     0 non-null      object
 17  直接成交笔数     0 non-null      object
 18  投入产出比      0 non-null      object
 19  直接成交投入产出比  0 non-null      object
 20  互动量        0 non-null      object
 21  互动率        0 non-null      object
 22  平均观看时长     0 non-null      object
 23  直播点赞量      0 non-null      object
 24  直播分享量      0 non-null      object
 25  直播评论量      0 non-null      object
 26  粉丝关注量      0 non-null      object
 27  新增粉丝成本     0 non-null      object
 28  进店量        0 non-null      object
 29  进店率        0 non-null      object
 30  总预售成交金额    0 non-null      object
 31  总预售成交笔数    0 non-null      object
 32  直接预售成交金额   0 non-null      object
 33  直接预售成交笔数   0 non-null      object
 34  总购物车数      0 non-null      object
 35  总收藏数       0 non-null      object
 36  购物金充值笔数    0 non-null      object
 37  购物金充值金额    0 non-null      object
 38  加购成本       0 non-null      object
dtypes: datetime64[ns](1), object(38)
memory usage: 132.0+ bytes

In [5]:
columns = [f"`{col}`" for col in df.columns]
columns_str = ", ".join(columns)

In [6]:

# 2. 连接数据库（以 MySQL 为例）
# 格式：数据库类型+驱动://用户名:密码@主机:端口/数据库名
db_connection_str = "mysql+pymysql://root:123456@localhost:3306/shionogi"
engine = create_engine(db_connection_str)

In [8]:

# 3. 将 DataFrame 写入数据库（新建表）
table_name = "live_commerce"  # 新表名
df.to_sql(
    name=table_name,      # 表名
    con=engine,          # 数据库连接
    if_exists="replace", # 如果表存在则替换（也可用 'append' 追加数据）
    index=False          # 不写入 DataFrame 的索引列
)

print(f"数据已成功导入数据库表 {table_name}!")

数据已成功导入数据库表 live_commerce!

In [21]:
sql_text = 'REPLACE INTO short_video ('+columns_str+') SELECT * from short_video_temp'
print(sql_text)

REPLACE INTO short_video (`日期`, `场景ID`, `场景名字`, `原二级场景ID`, `原二级场景名字`, `计划ID`, `计划名字`, `主体ID`, `主体类型`, `主体名称`, `展现量`, `点击量`, `花费`, `观看量`, `平均点击花费`, `千次展现花费`, `点击率`, `内容花费`, `有效观看量`, `千次有效观看成本`, `有效观看率`, `平均有效观看时长`, `互动量`, `互动率`, `直播观看量`, `关注量`, `评论量`, `点赞量`, `转发量`, `种草引导预售成交金额`, `种草引导预售成交笔数`, `直接引导预售成交金额`, `直接引导预售成交笔数`, `间接预售成交金额`, `间接预售成交笔数`, `拍下订单金额`, `拍下订单笔数`, `种草引导成交金额`, `种草引导成交笔数`, `直接引导成交金额`, `直接引导成交笔数`, `种草引导成交ROI`, `成交转化率`, `种草引导成交成本`, `间接成交金额`, `间接成交笔数`, `成交人数`, `人均成交笔数`, `人均成交金额`, `宝贝收藏加购数`, `宝贝收藏加购成本`, `宝贝收藏加购率`, `宝贝加购数`, `直接购物车数`, `加购成本`, `收藏宝贝数`, `宝贝收藏成本`, `收藏店铺数`, `店铺收藏成本`, `总收藏数`, `宝贝收藏率`, `直接收藏宝贝数`, `间接收藏宝贝数`, `优惠券领取量`, `购物金充值笔数`, `购物金充值金额`, `引导访问量`, `引导访问人数`, `引导访问潜客数`, `引导访问潜客占比`, `引导访问率`, `深度访问量`, `平均访问页面数`, `组件点击数`, `入会率`, `入会量`, `会员首购人数`, `会员成交金额`, `会员成交笔数`, `成交新客人数`, `新客触达数`, `新客触达成本`, `进店新客人数`, `互动新客人数`, `新客直接引导成交金额占比`, `新客直接引导预售成交金额占比`, `新客花费`, `新客成交笔数`, `新客成交金额`, `新客投产比`, `新客花费占比`, `首购新客增量`, `首购新客成本`, `种草人群追投总体消耗`, `种草人群追投总体引导成交金额`, `种草人群追投总体ROI`, `种草人群追投本店消耗`, `种草人群追投本店引导成交金额`, `种草人群追投本店ROI`, `种草人群追投竞店消耗`, `种草人群追投竞店引导成交金额`, `种草人群追投竞店ROI`) SELECT * from short_video_temp

In [22]:
conn = engine.connect()
conn.execute(text(sql_text))
conn.commit()